# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
data/processed_dataset/dataset_info.json
data/processed_dataset/dataset.arrow
data/processed_dataset/state.json
data/processed_dataset/cache-4c553dfbb2045adc.arrow
data/processed_dataset/cache-70a0182f3b16f40e.arrow
data/processed_dataset/cache-028013f5c895af00.arrow
data/processed_dataset/cache-7576870efcb192e0.arrow
data/processed_dataset/cache-afd5090fa2b0c16c.arrow
data/processed_dataset/cache-b05492283ceb5897.arrow
data/processed_dataset/cache-be8d5aee9f892576.arrow
data/processed_dataset/cache-c75f8e1b1c99ee98.arrow
runs/punct_pred_experiment_1/events.out.tfevents.1674859377.ICS-gnode1.3352.0
runs/punct_pred_experiment_1/events.out.tfevents.1674928350.ICS-gnode1.3512.0
runs/punct_pred_experiment_1/events.out.tfevents.1674929481.ICS-gnode1.15476.0
runs/punct_pred_experiment_1/events.out.tfevents.1674929777.ICS-gnode1.12312.0
runs/punct_pred_experiment_1/events.out.tfevents.1674930353.ICS-gnode1.9580.0
runs/punct_pred_experiment_1/events.out.tfevents.1674930399.ICS-gnode1.15944.0
runs/punct_pred_experiment_1/events.out.tfevents.1674933107.ICS-gnode1.4328.0
runs/punct_pred_experiment_2/events.out.tfevents.1674975276.ICS-gnode1.12828.0
runs/punct_pred_experiment_2/events.out.tfevents.1674975870.ICS-gnode1.14368.0
output/baseline_checkpoint.pt
output/checkpoint.pt
runs/punct_pred_experiment_2/events.out.tfevents.1674977770.ICS-gnode1.11016.0
runs/punct_pred_experiment_2/events.out.tfevents.1674977838.ICS-gnode1.16060.0
output/best_checkpoint.pt
